<div class="sidebar flex-column flex-shrink-0">
    <a href="/" class="logo">
        <img class="img-fluid" src="/img/logo.png" alt="" srcset="">
    </a>
    <ul class="nav nav-pills flex-column mb-auto body">
        <li class="side-nav-title">Home</li>
        <li class="nav-item">
            <a href="/clinic/dashboard" class="nav-link">
                <img class="bi" src="/img/icons/dashboard.svg" alt="dashboard icon">
                <span class="ms-2">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/clinic/appointments" class="nav-link">
            <img class="bi" src="/img/icons/users.svg" alt="dashboard icon">
                <span class="ms-2">Appointments</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/clinic/branches" class="nav-link">
                <img class="bi" src="/img/icons/account.svg" alt="dashboard icon">
                <span class="ms-2">Branches</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/clinic/statistics" class="nav-link">
            <img class="bi" src="/img/icons/statistic.svg" alt="dashboard icon">
                <span class="ms-2">Statistics</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/clinic/transactions" class="nav-link">
                <i class="bi bi-cash-coin"></i>
                <span class="ms-2">Transactions</span>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a href="/clinic/logs" class="nav-link">
                <img class="bi" src="/img/icons/logs.svg" alt="dashboard icon">
                <span class="ms-2">Logs</span>
            </a>
        </li> -->
    </ul>
    <!-- <ul class= "nav nav-pills flex-column mb-auto footer">
        <li class ="nav-item">
            <a href="settings" class="nav-link">
                <img class="bi" src="/img/icons/settings.svg" alt="dashboard icon">
                <span class="ms-2">Settings</span>
            </a>
        </li>
    </ul> -->
</div>
