<div class="sidebar flex-column flex-shrink-0">
    <a href="/" class="logo">
        <img class="img-fluid" src="/img/logo.png" alt="" srcset="">
    </a>
    <ul class="nav nav-pills flex-column mb-auto body">
        <li class="side-nav-title">Home</li>
        <li class="nav-item">
            <a href="/admin/dashboard" class="nav-link">
                <!-- <i class="bi bi-speedometer2"></i> -->
                <img class="bi" src="/img/icons/dashboard.svg" alt="dashboard icon">
                <span class="ms-2">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/patients" class="nav-link">
            <img class="bi" src="/img/icons/users.svg" alt="dashboard icon">
                <span class="ms-2">Patients</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/clinics" class="nav-link">
                <img class="bi" src="/img/icons/account.svg" alt="dashboard icon">
                <span class="ms-2">Clinics</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/statistics" class="nav-link">
            <img class="bi" src="/img/icons/statistic.svg" alt="dashboard icon">
                <span class="ms-2">Statistics</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/requests" class="nav-link">
                <img class="bi" src="/img/icons/support_tickets.svg" alt="dashboard icon">
                <span class="ms-2">Requests</span>
            </a>
        </li>
    </ul>
    <!-- <ul class= "nav nav-pills flex-column mb-auto footer">
        <li class ="nav-item">
            <a href="settings" class="nav-link">
                <img class="bi" src="/img/icons/settings.svg" alt="dashboard icon">
                <span class="ms-2">Settings</span>
            </a>
        </li>
    </ul> -->
</div>
